{% extends 'index.html' %}
{% block content %}
<br />
<center>
    <br />
    <h1>Update Your Task</h1>
    <br />
</center>
<form action="/tasks/{{ task.id }}" method="POST">
    <div class="" form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{task.title}}"
            required>
    </div>
    <br/>
    <div class="form-group">
        <label for="due-date">Due Date</label>
        <input type="date" class="form-control" id="due-date" name="due-date" placeholder="Due Date" value="{{ task.due_date.strftime('%Y-%m-%d') }}" required>
    </div>
    <br />
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3">{{ task.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
{% endblock %}